<div class="container-fluid center" style="text-align:center !important;">

	<div class="ui-g-9 ui-sm-12 center introduction">

		<div class="ui-g-8 ui-sm-12">
			<div class="tt-an-center">
			<div class="img-pulsator">
				<div class="signal"></div>
				<img src="assets/kriptOn.png" width="120px"/>
			</div>
			<br/>
			<br /> <br /> <strong><span>Esquadro</span></strong>
		</div>
		
		<div class="ui-g-12 tt-an-justify">			
			<br/>Seus dados seguros e íntegros a todo tempo!
			<strong style="position:absolute; width:100%; left:0px; bottom:10px; font-size:10px;">© Copyright 2020 (Sua Empresa Aqui) - All Rights Reserved</strong>
		</div>
		
		
	</div>
	
</div>

